PYTHON_VERSION=3.12
ENV_NAME="venv"
RESIZE=64
DATA_PATH="DATA"
RAW_DATA="raw"
RAW_DATA_PATH="/home/mtlls1/Projects/font-recognition-mlops/DATA/raw"
GS_DATA="gs_data"
BW_DATA="bw_data"
CLUSTER_DATA="clustered"
EDGE_DATA="edge_data"
SEGMENTED_FONT_DATA="segmented_font_data"
RESIZE_DATA="resize_data"
CLEAN_DATA="clean_data"
TRAIN_PATH="train"
TEST_PATH="test"
VAL_PATH="val"
LOG_PATH="LOG"
MODEL_PATH="MODEL"
SPLIT_TRAIN=0.8
MODEL_LOG_FILE="model_performance.json"
