MODEL_PATH=/home/mtlls1/Projects/font-recognition-mlops/versions/version_3/lenet5_model.keras
MODEL_NAME=lenet5_model.keras
CLASS_LABEL=/home/mtlls1/Projects/font-recognition-mlops/versions/version_3/class_labels.json

APP_HOST=0.0.0.0
APP_PORT=8000

# Redis environment variables
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0

# Celery environment variables
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# FastAPI environment variables (you can add any required here)
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000